[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TFukuchi
[access "refs/for/refs/*"]
	read = group user/TFukuchi
	push = group user/TFukuchi
	label-Code-Review = -2..+2 group user/TFukuchi
	label-Verified = -1..+1 group user/TFukuchi
	rebase = group user/TFukuchi
	removeReviewer = group user/TFukuchi
	submit = group user/TFukuchi
[access "refs/heads/*"]
	read = group user/TFukuchi
	create = group user/TFukuchi
	push = +force group user/TFukuchi
	pushMerge = group user/TFukuchi
[access "refs/tags/*"]
	push = group user/TFukuchi
	push = +force group user/TFukuchi
